In [104]:
import numpy as np
import pandas as pd

from sklearn import preprocessing

In [105]:
data = pd.read_csv('online_adapt.csv')

data['Adaptivity Level'].value_counts()

Moderate    625
Low         480
High        100
Name: Adaptivity Level, dtype: int64

In [106]:
data['Education Level'].value_counts()

School        530
University    456
College       219
Name: Education Level, dtype: int64

In [107]:
def vc(df):
    for col in df.columns:
        print(data[col].unique())

vc(data)

['Boy' 'Girl']
['21-25' '16-20' '11-15' '26-30' '6-10' '1-5']
['University' 'College' 'School']
['Non Government' 'Government']
['No' 'Yes']
['Yes' 'No']
['Low' 'High']
['Mid' 'Poor' 'Rich']
['Wifi' 'Mobile Data']
['4G' '3G' '2G']
['3-6' '1-3' '0']
['No' 'Yes']
['Tab' 'Mobile' 'Computer']
['Moderate' 'Low' 'High']

In [108]:
#Ordinals: Age, Load-shedding, Financial Condition, Network Type, Adaptivity Levels

scale_mapper = {"1-5":1, "6-10":2, "11-15":3, "16-20":4, "21-25":5, "26-30":6}

age = data["Age"].replace(scale_mapper)
age = pd.DataFrame(age)

In [109]:
#Ordinals: Age, Load-shedding, Financial Condition, Network Type, Adaptivity Levels

scale_mapper1 = {"4G":4, "3G":3, "2G":2}
nt = data["Network Type"].replace(scale_mapper1)

In [110]:
scale_mapper2 = {"3-6":2, "1-3":1, "0":0}
cd = data["Class Duration"].replace(scale_mapper2)

In [111]:
data1 = pd.get_dummies(data.drop(['Age', 'Network Type', 'Class Duration', 'Adaptivity Level'],axis=1))
data1 = pd.concat([data1, age, nt, cd], axis=1)
data1[:5]

,Gender_Boy,Gender_Girl,Education Level_College,Education Level_School,Education Level_University,Institution Type_Government,Institution Type_Non Government,IT Student_No,IT Student_Yes,Location_No,...,Internet Type_Mobile Data,Internet Type_Wifi,Self Lms_No,Self Lms_Yes,Device_Computer,Device_Mobile,Device_Tab,Age,Network Type,Class Duration
0,1,0,0,0,1,0,1,1,0,0,...,0,1,1,0,0,0,1,5,4,2
1,0,1,0,0,1,0,1,1,0,0,...,1,0,0,1,0,1,0,5,4,1
2,0,1,1,0,0,1,0,1,0,0,...,0,1,1,0,0,1,0,4,4,1
3,0,1,0,1,0,0,1,1,0,0,...,1,0,1,0,0,1,0,3,4,1
4,0,1,0,1,0,0,1,1,0,0,...,1,0,1,0,0,1,0,4,3,0

In [112]:
data1 = pd.DataFrame(data1)

for col in data1.columns:
    scaler_MinMax = preprocessing.MinMaxScaler(feature_range=(0,1))
    data2 = scaler_MinMax.fit_transform(data1[[col]])
data2[:5]

array([[1. ],
       [0.5],
       [0.5],
       [0.5],
       [0. ]])

In [113]:
scaler2 = preprocessing.StandardScaler()
# Transform the feature
data3 = scaler2.fit_transform(data2)

In [119]:
data3 = pd.DataFrame(data3)
# Transform the feature
for col in data3.columns:
    scaler3 = preprocessing.RobustScaler()
    data4 = scaler3.fit_transform(data3[[col]])

In [122]:
df = pd.DataFrame(data4)

def med(x):
    return x.mean()

# Apply function
df.apply(med)

0    0.086267
dtype: float64

In [124]:
from sklearn.preprocessing import Normalizer

# Create normalizer
normalizer1 = Normalizer(norm="l1")

# Transform feature matrix
data5 = normalizer1.transform(data1)

C:\Users\hp\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but Normalizer was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [125]:
import numpy as np
data_miss = data
data_miss['Education Level'].iloc[0] = np.nan