In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('online_adapt.csv')

# Encode `Age` to integers, 1, 2, 3, 4, 5, 6.
age_mapper = {'26-30':6, '21-25':5, '16-20':4, '11-15':3, '6-10':2, '1-5':1}
age_t = data['Age'].replace(age_mapper)

# Encode `Network Type` to integers, 2, 3, 4.
net_mapper = {'2G':2, '3G':3, '4G':4}
net_t = data['Network Type'].replace(net_mapper)

# Encode `Class Duration` to integers, 0, 1, 2.
class_mapper = {'0':0, '1-3':1, '3-6':2}
class_t = data['Class Duration'].replace(class_mapper)

# Replace `Age`, `Network Type`, `Class Duration` by their corresponding numeric versions.
data['Age'] = age_t
data['Network Type'] = net_t
data['Class Duration'] = class_t

In [2]:
# One-hot encode the rest of the variables except for the response variable, `Adaptivity Level`.

y = data['Adaptivity Level']
data1 = pd.get_dummies(data.drop('Adaptivity Level', axis=1))
data1.head(5)

,Age,Network Type,Class Duration,Gender_Boy,Gender_Girl,Education Level_College,Education Level_School,Education Level_University,Institution Type_Government,Institution Type_Non Government,...,Financial Condition_Mid,Financial Condition_Poor,Financial Condition_Rich,Internet Type_Mobile Data,Internet Type_Wifi,Self Lms_No,Self Lms_Yes,Device_Computer,Device_Mobile,Device_Tab
0,5,4,2,1,0,0,0,1,0,1,...,1,0,0,0,1,1,0,0,0,1
1,5,4,1,0,1,0,0,1,0,1,...,1,0,0,1,0,0,1,0,1,0
2,4,4,1,0,1,1,0,0,1,0,...,1,0,0,0,1,1,0,0,1,0
3,3,4,1,0,1,0,1,0,0,1,...,1,0,0,1,0,1,0,0,1,0
4,4,3,0,0,1,0,1,0,0,1,...,0,1,0,1,0,1,0,0,1,0

In [77]:
# Load libraries
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.datasets import load_iris
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [72]:
# Load data with only two classes
iris = datasets.load_iris()
features = data_up.data[:100,:]
target = data_up.target[:100]

In [73]:
# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

In [75]:
# Split data to training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    features_standardized, target, random_state=100)

In [81]:
# Create a regularized logistic regression object with L2 penalty
logistic_regression = LogisticRegressionCV(cv=5,solver='lbfgs', 
                                    multi_class='multinomial', penalty='l2', 
                                           Cs=10, random_state=0, n_jobs=-1)

In [85]:
# Train model
model_cv = logistic_regression.fit(X_train, y_train)

# Predict class
y_pred_cv = model_cv.predict(X_test)

# Calculate the accuracy
np.mean(y_pred_cv==y_test)

1.0

In [88]:
# Create a regularized logistic regression object with L2 penalty
logistic_regression = LogisticRegressionCV(cv=8,solver='lbfgs', 
                                    multi_class='multinomial', penalty='l2', 
                                           Cs=10, random_state=0, n_jobs=-1)
# Train model
model_cv = logistic_regression.fit(X_train, y_train)

# Predict class
y_pred_cv = model_cv.predict(X_test)

# Calculate the accuracy
np.mean(y_pred_cv==y_test)

1.0

In [96]:
# Load library
from sklearn.linear_model import RidgeCV

# Create ridge regression with three alpha values
regr_cv = RidgeCV(alphas=np.linspace(0.01,10,100))

# Fit the linear regression
model_cv = regr_cv.fit(X_train, y_train)

In [97]:
model_cv.alpha_

1.8263636363636364

In [104]:
# Create ridge regression with alpha = 1.8263636363636364

regression = Ridge(alpha=1.8263636363636364)

# Fit the linear regression
model_ridge_final = regression.fit(X_train, y_train)

# Return the coefficient of determination R-square
model_ridge_final.score(X_train, y_train)

0.9671668630791335

In [105]:
# Train model
model_balanced = logistic_regression.fit(X_train, y_train)

# Predict class
y_pred_balanced = model_balanced.predict(X_test)

In [106]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred_balanced, y_test)

array([[14,  0],
       [ 0, 11]], dtype=int64)

In [107]:
# Do prediction and calculate the accuracy
test_fit = model_ridge_final.fit(X_test, y_test)

# Return the coefficient of determination R-square of the prediction
test_fit.score(X_test, y_test)

0.9588228496595843